<table>
  <tr>
    <td class="strong">Course Info</td>
    <td>{{include.info}}</td>
  </tr>
  <tr>
    <td class="strong">Instructor</td>
    <td>
      <a href="{{include.instructor_link}}">{{include.instructor_name}}</a>
      {{include.instructor_info}}
    </td>
  </tr>
  <tr>
    <td class="strong">Time, Place</td>
    <td >{{include.time}}, {{include.place}}</td>
  </tr>
  <tr>
    <td class="strong">The Details</td>
    <td><a href="https://docs.google.com/document/d/1RiCCpPsqvg-7mLAn4JhrlTnCxgw3dVrIWZ0DS8-w9Gg/pub">Course Schedule, Topics and Links</a></td>
  </tr>
  <tr>
    <td class="strong">Office Hours</td>
    <td>{{include.office_hours}}</td>
  </tr>
</table>
