<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="description" content="Jacob Abernethy's course on learning, predition, and decision-making through the lens of game theory, optimization, and minimax analysis.">
  <meta name="keywords" content="games learning prediction theory algorithm decision strategy minimax hedge finance portfolio ">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/materialize.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />

  <title>{{include.title}}</title>
</head>
