<ul id="slide-out" class="sidenav sidenav-fixed">
  {% if include.section1  %}
    <li><a href="{{include.section1_link}}">{{include.section1}}</a></li>
  {% endif %}

  {% if include.section2  %}
  <li><a href="{{include.section2_link}}">{{include.section2}}</a></li>
  {% endif %}

  {% if include.section3  %}
  <li><a href="{{include.section3_link}}">{{include.section3}}</a></li>
  {% endif %}

  {% if include.section4  %}
  <li><a href="{{include.section4_link}}">{{include.section4}}</a></li>
  {% endif %}

  {% if include.section5  %}
  <li><a href="{{include.section5_link}}">{{include.section5}}</a></li>
  {% endif %}

  {% if include.section6  %}
  <li><a href="{{include.section6_link}}">{{include.section6}}</a></li>
  {% endif %}

  {% if include.section7  %}
  <li><a href="{{include.section7_link}}">{{include.section7}}</a></li>
  {% endif %}

  <li class="logo">
    <a href="https://www.gatech.edu/" target="_blank"><img class="gt-logo" src="/assets/images/gt_logo.png"></a>
  </li>
</ul>

